:root{
  --bs-blue: #3f78e0;
  --bs-sky: #5eb9f0;
  --bs-purple: #747ed1;
  --bs-grape: #605dba;
}
.text-900{
  font-weight: 700 !important;
}
.text-main1{
  color: var(--bs-grape) !important;
}
.text-main3{
  color: var(--bs-sky);
}
.btn-main{
  background-color: var(--bs-grape) !important;
  color: #fff !important;
}
.btn-large{
  min-width: 250px !important;
}
.btn-outline{
  background-color: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
@media (max-width:528px){
  .btn-hero{
    width: 100%;
  }
}